SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURITY=ssl
SMTP_USER=seuemail@gmail.com
SMTP_PASSWORD=sua_senha_de_app
FROM_EMAIL=Mage Cup <seuemail@gmail.com>
OTP_SECRET=coloque-um-segredo-grande-e-aleatorio-aqui
OTP_TTL_SECONDS=600
SMTP_TIMEOUT_SECONDS=15
